/* Write your code here. */
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.cont1 {
  width: 100vw;
  height: 60vh;
  margin: 20px;
}
img1 {
  height: 50vh;
  width: 75vw;
}
